Redirect permanent /index.html http://www.pinkbigmacmedia.com/de/
Redirect permanent /datenschutz/ http://www.pinkbigmacmedia.com/de/
Redirect permanent /impressum/ http://www.pinkbigmacmedia.com/de/
Redirect permanent /de/webdesign/ http://www.pinkbigmacmedia.com/de/
Redirect permanent /webdesign/ http://www.pinkbigmacmedia.com/de/
Redirect permanent /kontakt/ http://www.pinkbigmacmedia.com/de/